---
layout: blog
---
<div>
  
</div>
<div class="container">
  <div class="row">
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <div class="blogpost col-lg-18 col-md-18 col-sm-18">
        <a href="{{post.url}}"><h1>{{post.title}}</h1></a>
        <h2>{{post.subtitle}}</h2>
        <div class="meta clear">
            <div class="date inline-block">
              <span class="">
              <em class="fa fa-clock-o"></em> 
              {{post.date | date: "%B %d, %Y"}}
            </span>
            </div> 
            <div class="date inline-block">
              <span class=""><em class="fa fa-user"></em> {{author.name}}
              </span>
            </div>
        </div>
        <div class="post-img">
          <img src="/images/{{post.image}}" alt="">
        </div>
        <div>
          {{ post.content | strip_html | truncatewords:75, ""}} <a href="{{post.url}}">Read More</a>
        </div>
        <hr>
      </div>
      
      {% include blog-side.html%}


    {% endfor %}
  
  </div>
</div>