
<section id="structure" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-24 col-md-24 text-center">
        <div class="row">
          <div class="col-lg-16 col-lg-offset-4 col-md-20 col-md-offset-2">

            <h2 class=" itle">The Cardano platform is a collective project, made up of three institutions that have separate roles, all contributing to the project’s success.</h2>
            <h2 class="uppercase title">{{ site.data.i18n[page.language].partnership_structure }}</h2>
            <hr class="sm" />

            <div class="tree">
                <div class="branch left"></div>
                <img src="{{ '/images/cf_label.gif' | prepend: site.baseurl }}" width="178" height="52" alt="" />
                <div class="branch right"></div>
            </div>

            <div class="row branches">

              <div class="col-sm-12">
                <img src="{{ '/images/ic_logo_2.gif' | prepend: site.baseurl }}" width="70" height="70" />
                <h3>CGG</h3>
                <p>CGG is a group focussed on building innovative real world applications on the Cardano platform.</p>


                <!--<p>{{ site.data.i18n[page.language].structure_gaming_desc }}</p>-->
              </div>

              <div class="col-sm-12">
                <img src="{{ '/images/ic_iohk.gif' | prepend: site.baseurl }}" width="70" height="70" />

               <h3>Input Output</h3>
               <p>IOHK is a leading blockchain engineering and research company. IOHK is responsible for the architecture and engineering in the Cardano platform</p>
                <!--<p>{{ site.data.i18n[page.language].structure_io_desc }}</p>-->
              </div>

<!--               <div class="col&#45;sm&#45;12 col&#45;attain"> -->
<!--                 <img src="{{ '/images/ic_shield.gif' | prepend: site.baseurl }}" width="70" height="70" /> -->
<!--  -->
<!--                 <h3>Attain Corporation  {% if page.language == 'ja' %}<br> -->
<!-- 株式会社アテインコーポレーション -->
<!--           {% endif %}</h3> -->
<!--                 <!&#45;&#45;<p>{{ site.data.i18n[page.language].structure_attain_desc }}</p>&#45;&#45;> -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--               </div> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
