


      <div class="item member active">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-4 col-md-6">
                  <img src="{{ '/images/team/Parsons.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
              </div>
              <div class="col-lg-12 col-md-18 text-left">
                  <h2 class="uppercase">{% if page.language == 'ja' %}MICHAEL PARSONS - FCA 理事長{% else %}Michael Parsons FCA{% endif %}</h2>
                  <h4 class="uppercase big bold">{% if page.language == 'en' %}Chairman &amp; Executive Director{% else %}会長&amp;業務執行取締役{% endif %}</h4>
                  <div class="social_icons">
                      <a class="linkedin" href="https://uk.linkedin.com/in/michaelparsons" target="_blank"><em class="fa fa-linkedin"></em></a>
                      <a class="twitter" href="https://twitter.com/BitcoinByte" target="_blank"><em class="fa fa-twitter"></em></a>
                  </div>
                  <hr class="sm" />

					{% if page.language == 'ja' %}

					<p>Michael Parsonsはイギリスの公認会計士(FCA)であり、イギリスに拠点を持つデジタル通貨協会(UK DCA)の創立メンバーです。また同時に、ブロックチェーン・テクノロジー、デジタル通貨に関しアドバイザーとして広く認知されている起業家、そしてプレゼンテーターです。KPMG・モスクワ、プライスウォーターハウスクーパース・ロンドンでバンキング・コンサルタント、ドバイでの銀行創立など、金融業界での25年にも及ぶ経験が、フィナンシャルサービスや様々なエリアで活躍が期待されるブロックチェーンの取引台帳、暗号通貨アプリケーションなどに関する彼独自の見解を生み出しています。</p>

					{% else %}

                  <p>Michael Parsons, a UK qualified Chartered Accountant (FCA) and founder member of the UK DCA, is a well-known and respected independent Blockchain Technology &amp; Digital Currency Advisor, Entrepreneur and experienced Presenter.</p>
<p>Previously a Banking Consultant for KPMG in Moscow &amp; PwC in London, Michael also has over 25 years experience and understanding of operational banking, including leading a bank start-up in Dubai — providing him a with a unique perspective on the emerging potential of Blockchain Distributed Ledger and CryptoCurrency applications in financial services and other areas.</p>

					{% endif %}

              </div>
          </div>
      </div>
  <!--
      <div class="item member ">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-4 col-md-6">
                  <img src="{{ '/images/team/Milligan.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
              </div>
              <div class="col-lg-12 col-md-18 text-left">
                  <h2 class="uppercase">{% if page.language == 'ja' %}Bruce Milligan - 特別顧問{% else %}Bruce Milligan{% endif %}</h2>
                  <h4 class="uppercase big bold">{% if page.language == 'en' %}Executive Director{% else %}業務執行取締役{% endif %}</h4>
                  <div class="social_icons">

                  </div>
                  <hr class="sm" />

					{% if page.language == 'ja' %}



<p>Bruce Milliganはプロジェクトマネジメントに特化したフィンテック・コンサルタントであり、自身のテクノロジー・コンサルティング会社の代表を務めています。最近の10年間では、ロンドンに拠点を置き、ロイヤルバンク・オブ・スコットランド、エービーエヌ・アムロ、トムソン・ロイターを始めとするファイナンシャルサービスを扱う大手のクライアントに対し、テクノロジー・ソリューションを提供してきました。また身元確認/反資金洗浄のためのシステムデザイン、オンライン・コーポレートバンキング用の不正防止プラットフォームの開発や、トムソン・ロイターのグローバル・ネットワークインフラのアップグレードなど、多くのプロジェクトに参加してきました。    </p>
					{% else %}

                  <p>Bruce is a financial technology consultant specialising in project management, he is the owner of a successful technology consultancy. For the last 10 years Bruce has been based in the city of London where he has delivered technology solutions to major financial services clients including Royal Bank of Scotland, ABN Amro &amp; Thomson Reuters. Recent projects include the design of KYC/Anti-Money Laundering systems, building an anti-fraud platform for corporate online banking and the global upgrade of network infrastructure for Thomson Reuters. &#8230;</p>

					{% endif %}

              </div>
          </div>
      </div>
  -->
      <div class="item member ">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-4 col-md-6">
                  <img src="{{ '/images/team/Maguire.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
              </div>
              <div class="col-lg-12 col-md-18 text-left">
                  <h2 class="uppercase">{% if page.language == 'ja' %}John Maguire -  特別顧問{% else %}John Maguire{% endif %}</h2>
                  <h4 class="uppercase big bold">{% if page.language == 'en' %}Executive Director{% else %}業務執行取締役{% endif %}</h4>
                  <div class="social_icons">

                  </div>
                  <hr class="sm" />

          {% if page.language == 'ja' %}

<p>John Maguireは公認会計士として、これまでに公務職・民間企業ともに取締役クラスを歴任してきました。また保険、コモディティ売買、鉱業、不動産などの業界においては、経営管理、企業書記、年金や投資信託の社外取締役などの上級役職を経験しており、イギリス国内で自身の企業を立ち上げ経営する一方で、ロシアや西アフリカなどの新興国において企業の経営課題、またベンチャー企業や証券取引、ファンドレイジングなどを始めとする事業展開にも取り組んできました。</p>

          {% else %}

                  <p>John is a chartered accountant with long career experience at board level with public and private UK companies. He has worked in senior roles in many business sectors including insurance, commodity trading, mining and property; these roles have comprised finance directorships, company secretarial, pension and investment trusteeships as well as non-executive positions. Business development activities have included startups, stock exchange listings and fund raisings; corporate finance assignments have been undertaken in various emerging market territories including Russia and West Africa as well as the UK where he has formed and run his own companies.</p>

          {% endif %}

              </div>
          </div>
      </div>

      <!--div class="item member ">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-4 col-md-6">
                  <br>
              </div>
              <div class="col-lg-12 col-md-18 text-left">
                  <h2 class="uppercase">{% if page.language == 'ja' %}Guido Schmitz-Krummacher {% else %}Guido Schmitz-Krummacher{% endif %}</h2>
                  <h4 class="uppercase big bold">{% if page.language == 'en' %}Council Member (Zug){% else %}理事員（ツーク）{% endif %}</h4>
                  <div class="social_icons">

                  </div>
                  <hr class="sm" />

          {% if page.language == 'ja' %}

<p>
</p>

          {% else %}

                  <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

          {% endif %}

              </div>
          </div>
      </div-->
