
<section id="features" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-24 col-md-24 text-center">

        <h2 class="uppercase title">{{ site.data.i18n[page.language].goals }}</h2>
        <hr class="sm" />

        <div class="row">
          <div class="col-lg-10 col-lg-offset-2 col-sm-12 feature">
              <img src="{{ '/images/ic_globe.jpg' | prepend: site.baseurl }}" width="65" height="65" />
              <p class="bold">{{ site.data.i18n[page.language].goal_protect }}</p>
          </div>
          <div class="col-lg-10 col-sm-12 feature">
              <img src="{{ '/images/ic_logo.jpg' | prepend: site.baseurl }}" width="65" height="65" />
              <p class="bold">{{ site.data.i18n[page.language].goal_act }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-sm-8 feature">
              <img src="{{ '/images/ic_study.gif' | prepend: site.baseurl }}" width="65" height="65" />
              <p class="bold">{{ site.data.i18n[page.language].goal_study }}</p>
          </div>
          <div class="col-lg-8 col-sm-8 feature">
              <img src="{{ '/images/ic_serve.gif' | prepend: site.baseurl }}" width="65" height="65" />
              <p class="bold">{{ site.data.i18n[page.language].goal_serve }}</p>
          </div>
          <div class="col-lg-8 col-sm-8 feature">
              <img src="{{ '/images/ic_bulb.gif' | prepend: site.baseurl }}" width="65" height="65" />
              <p class="bold">{{ site.data.i18n[page.language].goal_educate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
