<div class="col-lg-6 col-md-6 col-sm-6 rightcol post-side">
    {% if author %}
    <div class="profile">
      <a href="{{ author.web }}">
        <div class="profile-img">
            <img src="/images/authors/{{author.img}}" alt="">
        </div>
        <h2>{{ author.name }}</h2>
        <h4>{{ author.title }}</h4>
        <div class="social inline-block">
          {% if author.linkedin %}
          <a class="c_555" href="https://ie.linkedin.com/in/{{author.linkedin}}" target="_blank"><em class="fa fa-linkedin-square"></em></a>&nbsp;
          {% endif %}
          {% if author.linkedin %}
          <a class="c_555" href="https://twitter.com/{{author.twitter}}" target="_blank"><em class="fa fa-twitter-square"></em></a>&nbsp;
          {% endif %}
          {% if author.linkedin %}
          <a class="c_555" href="https://github.com/{{author.twitter}}" target="_blank"><em class="fa fa-github-square"></em></a>&nbsp;
          {% endif %}
        </div>
      </a>
    </div>
    <hr>
    <h6>LATEST FROM AUTHOR</h6>
    {% for post in site.posts %}
          {% if post.author %}
            <p>{{post.title}}</p>
            <hr>
          {% endif%}
      {% endfor %}
  {% endif %}

  </div>
      
</div>
