
                <ul id="menu-top" class="nav navbar-nav navbar-right uppercase">
                  <li class="home active"><a href="/">Home</a></li>
                  <li class="about"><a href="/about/">Who we are</a></li>
                  <li class="cardano"><a href="/cardano/">What is Cardano</a></li>
                  <li class="press-media"><a href="/press-media/">Press &amp; Media</a></li>
                  <li class="faq"><a href="/faq/">FAQ</a></li>
                  <li class="contact"><a href="/contact/">Contact us</a></li>
                  <li class="documents"><a href="/documents/">Documents</a></li>
                </ul>
