
                <ul id="menu-top" class="nav navbar-nav navbar-right uppercase">
                  <li class="home {% if page.slug == 'home' %}active{% endif %}"><a href="/">Home</a></li>
                  <li class="about {% if page.slug == 'project' %}active{% endif %}"><a href="/project/">The Project</a></li>
                  <li class="cardano {% if page.slug == 'cardano' %}active{% endif %}"><a href="/cardano/">The Protocol</a></li>
                  <li class="faq {% if page.slug == 'foundation' %}active{% endif %}"><a href="/foundation/">The Foundation</a></li>

                  <li class="press-media {% if page.slug == 'press-media' %}active{% endif %}"><a href="/press-media/">Learn More</a></li>
                  <li class="faw {% if page.slug == 'faq' %}active{% endif %}"><a href="/faq/">FAQ</a></li>
                   <li class="faw {% if page.slug == 'blog' %}active{% endif %}"><a href="/blog/">Blog</a></li>
                </ul>
