{% assign leftcol = 'col-lg-6 col-md-6' %}
{% assign rightcol = 'col-lg-18 col-md-18 text-left' %}
<div class="item member active">
    <div class="row">
        <div class="{{leftcol}}">
            <img src="{{ '/images/team/Parsons.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
        </div>
        <div class="{{rightcol}}">
            <h2 class="uppercase">{% if page.language == 'ja' %}MICHAEL PARSONS - FCA 理事長{% else %}Michael Parsons FCA{% endif %}</h2>
            <h4 class="uppercase big bold">{{ site.data.i18n[page.language].chairman }}</h4>
            <div class="social_icons">
                <a class="linkedin" href="https://uk.linkedin.com/in/michaelparsons" target="_blank"><em class="fa fa-linkedin"></em></a>
                <a class="twitter" href="https://twitter.com/BitcoinByte" target="_blank"><em class="fa fa-twitter"></em></a>
            </div>

            {% if page.language == 'ja' %}

                <p>Michael Parsonsはイギリスの公認会計士(FCA)であり、イギリスに拠点を持つデジタル通貨協会(UK DCA)の創立メンバーです。また同時に、ブロックチェーン・テクノロジー、デジタル通貨に関しアドバイザーとして広く認知されている起業家、そしてプレゼンテーターです。KPMG・モスクワ、プライスウォーターハウスクーパース・ロンドンでバンキング・コンサルタント、ドバイでの銀行創立など、金融業界での25年にも及ぶ経験が、フィナンシャルサービスや様々なエリアで活躍が期待されるブロックチェーンの取引台帳、暗号通貨アプリケーションなどに関する彼独自の見解を生み出しています。</p>

            {% else %}

                <p>Michael Parsons, a UK qualified Chartered Accountant (FCA) and founder member of the UK DCA, is a well-known and respected independent Blockchain Technology &amp; Digital Currency Advisor, Entrepreneur and experienced Presenter.</p>
                <p>Previously a Banking Consultant for KPMG in Moscow &amp; PwC in London, Michael also has over 25 years experience and understanding of operational banking, including leading a bank start-up in Dubai — providing him a with a unique perspective on the emerging potential of Blockchain Distributed Ledger and CryptoCurrency applications in financial services and other areas.</p>

            {% endif %}
        </div>
    </div>
</div>
<div class="item member ">
    <div class="row">
      <div class="{{leftcol}}">
            <img src="{{ '/images/team/Maguire.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
        </div>
        <div class="{{rightcol}}">
            <h2 class="uppercase">{% if page.language == 'ja' %}John Maguire -  特別顧問{% else %}John Maguire{% endif %}</h2>
            <h4 class="uppercase big bold">{{ site.data.i18n[page.language].executive_director }}</h4>
            <div class="social_icons">

            </div>

            {% if page.language == 'ja' %}

                <p>John Maguireは公認会計士として、これまでに公務職・民間企業ともに取締役クラスを歴任してきました。また保険、コモディティ売買、鉱業、不動産などの業界においては、経営管理、企業書記、年金や投資信託の社外取締役などの上級役職を経験しており、イギリス国内で自身の企業を立ち上げ経営する一方で、ロシアや西アフリカなどの新興国において企業の経営課題、またベンチャー企業や証券取引、ファンドレイジングなどを始めとする事業展開にも取り組んできました。</p>

            {% else %}

                <p>John is a chartered accountant with long career experience at board level with public and private UK companies. He has worked in senior roles in many business sectors including insurance, commodity trading, mining and property; these roles have comprised finance directorships, company secretarial, pension and investment trusteeships as well as non-executive positions. Business development activities have included startups, stock exchange listings and fund raisings; corporate finance assignments have been undertaken in various emerging market territories including Russia and West Africa as well as the UK where he has formed and run his own companies.</p>

            {% endif %}

        </div>
    </div>
</div>

<div class="item member ">
    <div class="row">
      <div class="{{leftcol}}">
            <img src="{{ '/images/team/joconner.png' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
        </div>
        <div class="{{rightcol}}">
            <h2 class="uppercase">{% if page.language == 'ja' %}John O'Connor -  特別顧問{% else %}John O'Connor{% endif %}</h2>
            <h4 class="uppercase big bold">{{ site.data.i18n[page.language].stratergy_communications }}</h4>
            <div class="social_icons">
                <a class="linkedin" href="https://www.linkedin.com/in/jjtoconnor/" target="_blank"><em class="fa fa-linkedin"></em></a>
            </div>

            {% if page.language == 'ja' %}

                <p></p>

        {% else %}

            <p>John is an experienced technology professional, with a background in insurance and advertising technology. His roles have included business development, product management and analytics, working with clients like Aviva, AXA and Intact. He has worked on successfully launching marketing campaigns for a number of global products and brands. Whilst working with an insurance-technology company, he became interested in the possibilities for blockchain to transform the insurance industry and financial services more generally. John graduated from Oxford University with a degree in PPE. </p>

            {% endif %}

        </div>
    </div>
</div>
<div class="item member ">
    <div class="row">
      <div class="{{leftcol}}">
           <img src="{{ '/images/team/aforbes.png' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
        </div>
        <div class="{{rightcol}}">
            <h2 class="uppercase">{% if page.language == 'ja' %}ADRIAN FORBES-  特別顧問{% else %}ADRIAN FORBES{% endif %}</h2>
            <div class="social_icons">

            </div>

            {% if page.language == 'ja' %}

                <p></p>

        {% else %}

            <p>Adrian is a qualified accountant (FCCA) and has a degree (BA) from the University of Bristol. His career includes working for Deloittes, Linklaters, Coutts, JPMorgan, Zurich International and he was the Head of Operations (Europe, the Middle East and Africa) for Citi Private Equity Services, building and establishing a profitable business servicing VC, Private Equity, Debt and Real Estate funds. Adrian has been a keen advocate for bitcoin and blockchain solutions, launching a number of start-ups, including TGBEX Limited in 2014, which remains the only licensed and regulated physical bitcoin manufacturer globally. He has advised a number of institutions, including large banks and law firms on the potential benefits of blockchain solutions.</p>

            {% endif %}

        </div>
    </div>
</div>
<div class="item member ">
    <div class="row">
      <div class="{{leftcol}}">
           <img src="{{ '/images/team/bmcdowall.png' | prepend: site.baseurl }}" width="350" height="350" class="img-circle fullwidth" />
        </div>
        <div class="{{rightcol}}">
            <h2 class="uppercase">{% if page.language == 'ja' %} Bob McDowall-  特別顧問{% else %} Bob McDowall{% endif %}</h2>
            <h4 class="uppercase big bold">{{ site.data.i18n[page.language].special_advisor }}</h4>
            <div class="social_icons">

            </div>

            {% if page.language == 'ja' %}

                <p></p>

        {% else %}

            <p>Robert (“Bob”) McDowall is a former Member of the States of Alderney, one of the Channel Islands , where he serves as Chairman of the Policy & Finance Committee, the senior decision making Committee. He now has a number of consulting and advisory roles in the private sector. Bob is a frequent contributor to the financial industry media  and has over 35 years experience in the Banking,Securities and Investment Industry. He has an LL.B from University College London He is a Member of the Court of the Tin Plate alias Wireworkers Livery Company and is a former President and a Trustee of the Folklore Society based at the Warburg Institute in London. </p>

            {% endif %}

        </div>
    </div>
</div>