<section id="block-features" class="section">
    <div class='circle-container'>
      <div class="center-img center-img-feature" >
        <h2 class="center uppercase title">{{ site.data.i18n[page.language].goals }}</h2>
        <hr class="sm" />
      </div>
      
      <div class="deg20 edge-img center">
        <div class="circle-img-background">
          <img src="{{ '/images/ic_bulb.gif' | prepend: site.baseurl }}" width="65" height="65" />
          <p class="bold">{{ site.data.i18n[page.language].goal_educate }}</p>
        </div>
      </div>

      <div class="deg90 edge-img center">
        <div class="circle-img-background">
          <img src="{{ '/images/ic_globe.jpg' | prepend: site.baseurl }}" width="65" height="65" />
          <p class="bold">{{ site.data.i18n[page.language].goal_protect }}</p>
        </div>
      </div>
      <div class="deg160 edge-img center">
        <div class="circle-img-background">
          <img src="{{ '/images/ic_study.gif' | prepend: site.baseurl }}" width="65" height="65" />
          <p class="bold">{{ site.data.i18n[page.language].goal_study }}</p>
        </div>
      </div>
      <div class="deg220 edge-img center">
        <div class="circle-img-background">
          <img src="{{ '/images/ic_logo.jpg' | prepend: site.baseurl }}" width="65" height="65" />
          <p class="bold">{{ site.data.i18n[page.language].goal_act }}</p>
        </div>
      </div>
      <div class="deg315 edge-img center">
        <div class="circle-img-background">
          <img src="{{ '/images/ic_serve.gif' | prepend: site.baseurl }}" width="65" height="65" />
              <p class="bold">{{ site.data.i18n[page.language].goal_serve }}</p>
        </div>
      </div>
  </div>
</section>