---
layout: form-nl
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

                        <!-- Begin MailChimp Signup Form -->

                            <form action="//cardanofoundation.us12.list-manage.com/subscribe/post?u=b5863ecf4cd79d93ef3aed2cf&amp;id=63d92e7ec3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate fullwidth" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">

                               
                                    <div class="input-group">
                                        <span class="input-group-addon" id=""><em class="fa fa-globe"></em></span>
                                        <select name="MMERGE3" id="mce-MMERGE3" class="form-control">
                                    
                                            <option value="English">English</option>
                                            <option value="Japanese">日本語</option>
                                            <option value="Chinese (Simplified)">簡體中文</option>
                                            <option value="Chinese (Traditional)">中國傳統的</option>
                                            <option value="Russian">Pусский</option>
                                            <option value="" disabled="disabled">---</option>
                                            <option value="Hindi">हिंदी</option>
                                            <option value="Vietnamese">Tiếng Việt</option>
                                            <option value="Korean">한국어</option>
                                            <option value="Arabic">العربية</option>


                                        </select>
                                    </div>
                                    
                                    <div class="input-group">
                                        <input type="email" value="" name="EMAIL" placeholder="your@email.com" class="required form-control" id="mce-EMAIL">
                                        <span class="input-group-btn">
                                            <input type="submit" value="{{ site.data.i18n[page.language].subscribe }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" />
                                        </span>
                                    </div>
                                    <div id="mce-responses" class="clear small  bold">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b5863ecf4cd79d93ef3aed2cf_63d92e7ec3" tabindex="-1" value=""></div>


                                </div>
                            </form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
(function($) {

    window.fnames = new Array(); 
    window.ftypes = new Array();
    fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='MMERGE3';ftypes[3]='dropdown';
    {% if page.language == "ja" %}
    $.extend($.validator.messages, {
      required: "このフィールドは必須です。",
      remote: "このフィールドを修正してください。",
      email: "有効なEメールアドレスを入力してください。",
      url: "有効なURLを入力してください。",
      date: "有効な日付を入力してください。",
      dateISO: "有効な日付（ISO）を入力してください。",
      number: "有効な数字を入力してください。",
      digits: "数字のみを入力してください。",
      creditcard: "有効なクレジットカード番号を入力してください。",
      equalTo: "同じ値をもう一度入力してください。",
      accept: "有効な拡張子を含む値を入力してください。",
      maxlength: $.validator.format("{0} 文字以内で入力してください。"),
      minlength: $.validator.format("{0} 文字以上で入力してください。"),
      rangelength: $.validator.format("{0} 文字から {1} 文字までの値を入力してください。"),
      range: $.validator.format("{0} から {1} までの値を入力してください。"),
      max: $.validator.format("{0} 以下の値を入力してください。"),
      min: $.validator.format("{1} 以上の値を入力してください。")
    });
    {% endif %}

}(jQuery));
var $mcj = jQuery.noConflict(true);

</script>




<style>
.input-group{margin-bottom: 10px}
html,body{background: transparent;}
</style>

  </body>

</html>
